.card
{
    text-align: right;
    direction: rtl;
}

.card-body
{
    border-bottom: 1px solid #f2f1f2;
}

.mr-auto
{
    text-align: right;
    direction: rtl;
    float: right;
}

.mr-3
{
    background-color: green;
    float: right;
}

.IconClass
{
    margin-top: 6px;
    text-align: center;
    padding-left: -13px !important;
}

.d-icon{
    margin-top: -20px;
}

.card-title
{
    font-size: 16px;
}

.card-text
{
    margin-top: -10px;
}